h1 {
	font-size: 30px;
}

h2 {
	font-size: 20px;
}

.btn-circle {
  width: 90px;
  height: 90px;
  padding: 5px 5px;
  font-size: 35px;
  line-height: 1.33;
  border-radius: 60px;
}

.btn-carré{
  width: 75px;
  height: 75px;
  padding: 5px 5px;
  font-size: 35px;
  line-height: 1.33;
  border-radius: 5px;
}

.btn-rectangle{
  width: 125px;
  height: 55px;
  padding: 2px 10px;
  font-size: 35px;
  line-height: 1.33;
  border-radius: 5px;
}

.streaming {
  position: relative;
  margin: auto;
  background-size: contain;
  text-align: center;
}

.game {
  position: relative;
  margin: auto;
  background-size: contain;
  text-align: center;
}

#jeu {
  position: relative;
  margin: auto;
  width: 100%;
  height: 100%;
  top:-100px;
  margin-bottom: -100px;
  overflow: hidden;
  background-size: contain;
}

#stepForwardButton {
  position:absolute;
  transition: .5s ease;
  top: 43.5%;
  left: 26%;
  width: 7.25%;
  height: 8%;
  font-size: 150%;
}

#stepBackwardButton {
  position:absolute;
  transition: .5s ease;
  top: 59.5%;
  left: 26%;
  width: 7.25%;
  height: 8%;
  font-size: 150%;
}

#stopButton {
  position:absolute;
  transition: .5s ease;
  top: 51.25%;
  left: 25.75%;
  width: 7.75%;
  height: 8.5%;
  font-size: 150%;
}

#stepLeftButton {
  position:absolute;
  transition: .5s ease;
  top: 51.5%;
  left: 18.6%;
  width: 7.25%;
  height: 8%;
  font-size: 150%;
}

#stepRightButton {
  position:absolute;
  transition: .5s ease;
  top: 51.5%;
  left: 33.2%;
  width: 7.25%;
  height: 8%;
  font-size: 150%;
}

#standUpButton {
  position:absolute;
  transition: .5s ease;
  top: 42.5%;
  left: 65.5%;
  width: 10%;
  height: 10.5%;
  border-radius: 60%;
  font-size: 150%;
}

#sitDownButton {
  position:absolute;
  transition: .5s ease;
  top: 58%;
  left: 65.5%;
  width: 10%;
  height: 10.5%;
  border-radius: 60%;
  font-size: 150%;
}

#demoButton {
  position:absolute;
  transition: .5s ease;
  top: 43%;
  left: 43%;
  width: 14%;
  height: 8%;
  font-size: 150%;
}

#modeButton {
  position:absolute;
  transition: .5s ease;
  top: 60%;
  left: 43%;
  width: 14%;
  height: 8%;
  font-size: 150%;
}

#dashboardButton {
  position:absolute;
  transition: .5s ease;
  top: 11.5%;
  left: 0%;
  width: 15%;
  height: 8%;
  font-size: 150%;
}

#gitButton {
  position:absolute;
  transition: .5s ease;
  top: 20.5%;
  left: 0%;
  width: 7%;
  height: 7%;
  font-size: 150%;
}

#blackDroitButton {
  position:absolute;
  transition: .5s ease;
  top: 50.5%;
  left: 73%;
  width: 10%;
  height: 10.5%;
  border-radius: 60%;
  font-size: 150%;
}

#blackGaucheButton {
  position:absolute;
  transition: .5s ease;
  top: 50.5%;
  left: 58.25%;
  width: 10%;
  height: 10.5%;
  border-radius: 60%;
  font-size: 150%;
}

.conteneur {
  margin: auto;
}

main {
  float:left;
  width: 60%;
}

aside {
  float: left;
  width: 40%;
}

footer {
  clear:both;
}
